.wp-block-therosehill-plus-residency-date .residency-meta-date .has-text-align-center {
    text-align: center;
}

.wp-block-therosehill-plus-residency-date .residency-meta-date .has-text-align-left {
    text-align: left;
}

.wp-block-therosehill-plus-residency-date .residency-meta-date .has-text-align-right {
    text-align: right;
}